body{
    background: linear-gradient(to bottom, var(--color-brand-50),var(--color-white));
    width: 100vw;
    height:100vh;
}

.input-field{
    font-family: inherit;
    color: var(--color-gray-700);
    background-color: var(--color-gray-50);
    border:1px solid var(--color-gray-200);
    display:block;
    
}

.input-field::placeholder{
    font-family: inherit;
    color: var(--color-text-muted);   
}

label, a, button{
    color: var(--color-primary);
}