@layer elements {
  .form-container {
    background: linear-gradient(
      to bottom,
      var(--color-brand-50),
      var(--color-white)
    );
    width: 100vw;
    height: 100vh;
  }

  .form-heading {
    font-weight: 400;
  }

  /* form */
  .form {
    width: 18rem;
    display: flex;
    flex-direction: column;
  }

  .form-footer {
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    margin-top: var(--space-8);
    color: var(--color-gray-700);
  }

  .account {
    margin-top: var(--space-8);
    color: var(--color-gray-700);
  }

  fieldset {
    border: none;
  }

  /* input and textarea */
  .input-field, .input-area{
    font-family: inherit;
    font-size: var(--font-size-base);
    color: var(--color-gray-700);
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-lg);
    /* height: 2.5rem; */
    padding-inline: var(--space-2);
    width: 100%;
    margin-block: var(--space-2) var(--space-8);
    display: block;
  }

  .input-field{
    height: 2.5rem;
  }
  .input-area{
    height: 7.5rem;
    resize:none;
  }

  .input-field::placeholder{
    color: var(--color-text-muted);
  }

  .input-field:focus {
    outline: 1px solid var(--focus-ring-color);
  }


  @media (max-width: 768px) {
          .form {
            width: 15rem;
          }
        }
}
