@layer elements {
  .form-container,
  .waitlist {
    background: linear-gradient(
      to bottom,
      var(--color-brand-50),
      var(--color-white)
    );
    width: 100vw;
    height: 100vh;
  }

  .form-heading,
  .waitlist_title {
    font-weight: 400;
  }

  .waitlist {
    height:80vh;

    .form {
      width: 21rem;
    }

    .waitlist_title {
      color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
      padding-bottom: var(--space-3);
      margin-bottom: var(--space-8);
      width: 21rem;
    }

    @media (max-width: 768px) {
      .waitlist{
        width: 15rem;
      }

  }

  }

  /* form */
  .form {
    width: 18rem;
    display: flex;
    flex-direction: column;
  }

  .form-footer {
    width: 100%;
    margin-top: var(--space-8);
    margin-bottom: var(--space-3);
    color: var(--color-gray-700);
  }

  .account {
    margin-top: var(--space-8);
    color: var(--color-gray-700);
  }

  fieldset {
    border: none;
  }

  /* input and textarea */
  .input-field,
  .input-area {
    font-family: inherit;
    font-size: var(--font-size-base);
    color: var(--color-gray-700);
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-lg);
    /* height: 2.5rem; */
    padding: var(--space-2);
    width: 100%;
    margin-block: var(--space-2) var(--space-8);
    display: block;
  }

  .input-field {
    height: 2.5rem;
  }
  .input-area {
    height: 7.5rem;
    resize: none;
  }

  .input-field::placeholder, .input-area::placeholder{
    color: var(--color-text-muted);
  }

  .input-field:focus, .input-area:focus {
    outline: 1px solid var(--focus-ring-color);
  }

  @media (max-width: 768px) {
    .form {
      width: 15rem;
    }

  }
}
