.notes-container {
  max-width: 37.5rem;
  margin-inline: auto;
  padding: 4rem var(--space-4);
}

.note {
  display: grid;
  grid-template-columns: 3.125rem 1fr;
  gap: var(--space-4);
  padding-block: var(--space-4);
}

.note__author {
  margin-top: 0.875rem;
  color: var(--color-brand-600);
  font-size: var(--font-size-sm);
}

.note__text {
  line-height: 150%;
}

.note_attachment {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  margin-top: var(--space-2);
}

.note_attachment > img {
  min-width: 5rem;
  height: 5rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-sm);
  background-color: var(--color-brand-50);
  display: block;
}
