main {
  padding-inline: var(--space-4);
}

.profile__image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__email {
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
